<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="ArduCopter"/>
      <dir
        name="build">
        <dir
          name="sitl">
          <dir
            name="libraries">
            <dir
              name="AP_Scripting"/>
            <dir
              name="GCS_MAVLink">
              <dir
                name="include">
                <dir
                  name="mavlink">
                  <dir
                    name="v2.0">
                    <dir
                      name="ASLUAV"/>
                    <dir
                      name="AVSSUAS"/>
                    <dir
                      name="all"/>
                    <dir
                      name="ardupilotmega"/>
                    <dir
                      name="common"/>
                    <dir
                      name="development"/>
                    <dir
                      name="icarous"/>
                    <dir
                      name="loweheiser"/>
                    <dir
                      name="minimal"/>
                    <dir
                      name="python_array_test"/>
                    <dir
                      name="standard"/>
                    <dir
                      name="storm32"/>
                    <dir
                      name="test"/>
                    <dir
                      name="uAvionix"/>
                    <dir
                      name="ualberta"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="modules">
            <dir
              name="uavcan">
              <dir
                name="libuavcan">
                <dir
                  name="include">
                  <dir
                    name="dsdlc_generated">
                    <dir
                      name="uavcan">
                      <dir
                        name="equipment">
                        <dir
                          name="actuator"/>
                        <dir
                          name="gnss"/>
                        <dir
                          name="ice">
                          <dir
                            name="reciprocating"/>
                        </dir>
                        <dir
                          name="indication"/>
                      </dir>
                      <dir
                        name="protocol">
                        <dir
                          name="debug"/>
                        <dir
                          name="param"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="libraries">
        <dir
          name="AC_AttitudeControl"/>
        <dir
          name="AC_AutoTune"/>
        <dir
          name="AC_Autorotation"/>
        <dir
          name="AC_Avoidance"/>
        <dir
          name="AC_CustomControl"/>
        <dir
          name="AC_Fence"/>
        <dir
          name="AC_InputManager"/>
        <dir
          name="AC_PID"/>
        <dir
          name="AC_PrecLand"/>
        <dir
          name="AC_Sprayer"/>
        <dir
          name="AC_WPNav"/>
        <dir
          name="AP_ADC"/>
        <dir
          name="AP_ADSB">
          <dir
            name="GDL90_protocol"/>
          <dir
            name="sagetech-sdk"/>
        </dir>
        <dir
          name="AP_AHRS"/>
        <dir
          name="AP_AIS"/>
        <dir
          name="AP_AccelCal"/>
        <dir
          name="AP_AdvancedFailsafe"/>
        <dir
          name="AP_Airspeed"/>
        <dir
          name="AP_Arming"/>
        <dir
          name="AP_Avoidance"/>
        <dir
          name="AP_BLHeli"/>
        <dir
          name="AP_Baro"/>
        <dir
          name="AP_BattMonitor"/>
        <dir
          name="AP_Beacon"/>
        <dir
          name="AP_BoardConfig"/>
        <dir
          name="AP_Button"/>
        <dir
          name="AP_CANManager"/>
        <dir
          name="AP_Camera"/>
        <dir
          name="AP_CheckFirmware"/>
        <dir
          name="AP_Common">
          <dir
            name="missing"/>
        </dir>
        <dir
          name="AP_Compass"/>
        <dir
          name="AP_CustomRotations"/>
        <dir
          name="AP_DAL"/>
        <dir
          name="AP_Declination"/>
        <dir
          name="AP_Devo_Telem"/>
        <dir
          name="AP_EFI"/>
        <dir
          name="AP_ESC_Telem"/>
        <dir
          name="AP_ExternalAHRS"/>
        <dir
          name="AP_FETtecOneWire"/>
        <dir
          name="AP_Filesystem"/>
        <dir
          name="AP_FlashStorage"/>
        <dir
          name="AP_Follow"/>
        <dir
          name="AP_Frsky_Telem"/>
        <dir
          name="AP_GPS"/>
        <dir
          name="AP_Generator"/>
        <dir
          name="AP_Gripper"/>
        <dir
          name="AP_GyroFFT"/>
        <dir
          name="AP_HAL">
          <dir
            name="utility"/>
        </dir>
        <dir
          name="AP_HAL_Empty"/>
        <dir
          name="AP_HAL_Linux"/>
        <dir
          name="AP_HAL_SITL"/>
        <dir
          name="AP_Hott_Telem"/>
        <dir
          name="AP_ICEngine"/>
        <dir
          name="AP_IOMCU"/>
        <dir
          name="AP_IRLock"/>
        <dir
          name="AP_InertialNav"/>
        <dir
          name="AP_InertialSensor"/>
        <dir
          name="AP_InternalError"/>
        <dir
          name="AP_KDECAN"/>
        <dir
          name="AP_LTM_Telem"/>
        <dir
          name="AP_LandingGear"/>
        <dir
          name="AP_Logger"/>
        <dir
          name="AP_MSP"/>
        <dir
          name="AP_Math"/>
        <dir
          name="AP_Mission"/>
        <dir
          name="AP_Module"/>
        <dir
          name="AP_Motors"/>
        <dir
          name="AP_Mount"/>
        <dir
          name="AP_NMEA_Output"/>
        <dir
          name="AP_NavEKF"/>
        <dir
          name="AP_NavEKF2"/>
        <dir
          name="AP_NavEKF3"/>
        <dir
          name="AP_Notify"/>
        <dir
          name="AP_OLC"/>
        <dir
          name="AP_OSD"/>
        <dir
          name="AP_OpenDroneID"/>
        <dir
          name="AP_OpticalFlow"/>
        <dir
          name="AP_Parachute"/>
        <dir
          name="AP_Param"/>
        <dir
          name="AP_PiccoloCAN">
          <dir
            name="piccolo_protocol"/>
        </dir>
        <dir
          name="AP_Proximity"/>
        <dir
          name="AP_RAMTRON"/>
        <dir
          name="AP_RCMapper"/>
        <dir
          name="AP_RCProtocol"/>
        <dir
          name="AP_RCTelemetry"/>
        <dir
          name="AP_ROMFS"/>
        <dir
          name="AP_RPM"/>
        <dir
          name="AP_RSSI"/>
        <dir
          name="AP_RTC"/>
        <dir
          name="AP_Radio"/>
        <dir
          name="AP_Rally"/>
        <dir
          name="AP_RangeFinder"/>
        <dir
          name="AP_Relay"/>
        <dir
          name="AP_RobotisServo"/>
        <dir
          name="AP_SBusOut"/>
        <dir
          name="AP_Scheduler"/>
        <dir
          name="AP_Scripting">
          <dir
            name="lua">
            <dir
              name="src"/>
          </dir>
        </dir>
        <dir
          name="AP_SerialLED"/>
        <dir
          name="AP_SerialManager"/>
        <dir
          name="AP_ServoRelayEvents"/>
        <dir
          name="AP_SmartRTL"/>
        <dir
          name="AP_Stats"/>
        <dir
          name="AP_TempCalibration"/>
        <dir
          name="AP_Terrain"/>
        <dir
          name="AP_Torqeedo"/>
        <dir
          name="AP_Tuning"/>
        <dir
          name="AP_UAVCAN"/>
        <dir
          name="AP_Vehicle"/>
        <dir
          name="AP_VideoTX"/>
        <dir
          name="AP_VisualOdom"/>
        <dir
          name="AP_Volz_Protocol"/>
        <dir
          name="AP_WheelEncoder"/>
        <dir
          name="AP_Winch"/>
        <dir
          name="Filter"/>
        <dir
          name="GCS_MAVLink"/>
        <dir
          name="RC_Channel"/>
        <dir
          name="SITL"/>
        <dir
          name="SRV_Channel"/>
        <dir
          name="StorageManager"/>
      </dir>
      <dir
        name="modules">
        <dir
          name="uavcan">
          <dir
            name="libuavcan">
            <dir
              name="include">
              <dir
                name="uavcan">
                <dir
                  name="driver"/>
                <dir
                  name="marshal"/>
                <dir
                  name="node"/>
                <dir
                  name="protocol"/>
                <dir
                  name="transport"/>
                <dir
                  name="util"/>
              </dir>
            </dir>
            <dir
              name="src">
              <dir
                name="driver"/>
              <dir
                name="marshal"/>
              <dir
                name="node"/>
              <dir
                name="protocol"/>
              <dir
                name="transport"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="C++"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo="."
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="true"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Linux"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    cuda_arch="sm_20"
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_trunc="0"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports>
    <files>
      <file
        name="./build/sitl/compile_commands.json"/>
    </files>
  </imports>
</project>
